<%- include('../partials/header')  %>

<table> 
    <thead>
        <tr>
            <th>Flight</th>
            <th>Airline</th>
            <th>Airport</th>
            <th>Departure Date</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr>
                <td><%= f.flightNo %></td>
                <td><%= f.airline %></td>
                <td><%= f.Airport %></td>   
                <td><%= f.departs %></td>
                <td><a href="/flights/<%= f._id%>">DETAILS</a></td>
                <td>
                <form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
                    <button type='submit'>X</button>
                </form>
                </td>
                   
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %> 

